/* This is CSS for the page at root path */
@media screen and (min-width: 551px) {
  #home-signature {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 200px;
  }
}
