site-navigation__list {
  list-style: none;
}

article{
  background-color: #f8f8ff;
  box-shadow: 0px 0px 3px 3px #ddf;
  font: 100%/120% sans-serif;
  text-align: justify;
  margin: 0;
  padding: 1%;
}
article ul, article ol { margin-left: 35px; }
article ol { list-style: decimal; }
article ul { list-style: disc; }
article dl { margin-left: 13px; }
article p { margin: 13px }
article h1{
  font-size: 150%;
  margin-bottom: 2%
}
article h2{
  font-size: 120%;
  margin-top: 4%
}
article dd{
  font-size: 90%;
  margin-left: 13px;
  display: block;
}

@media screen and (min-width: 551px) {
  article{
    font-size: 120%;
    margin: 10px 45px;
  }
  #home-signature{
    display: block;
    margin: auto;
    padding: 10px 0;
    width: 120px;
  }
}

@media print {
  .hidden-print { display: none; }
}
