body{ background-color: #eef; }

a {
  text-decoration: none;
  color: black; 
}
a:hover, a:focus { color: #667; }

#home-signature {
  margin: 0 auto;
  display: block;
  width: 200px;
}

site-navigation__list {
  list-style: none;
}

@media screen and (min-width: 800px) {
  /* Styling in large screen (computer) */
  section{
    width: 75%;
    min-height: 100%;
    position: absolute;
  }
  
  .site-navigation {
    width: 25%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    border-left: 3px solid #ddf;
  }
  .site-navigation__list {
    margin-left: 35px;
    bottom: 5%;
    left: 75%;
    position: fixed;
  }
  .site-navigation__list-item { font: bold 100%/300% sans-serif; }
}

@media screen and (min-width: 551px) and (max-width: 799px) {
  /* Styling in medium screen (tablet) */
  section {
    width: 65%; /* Give more space for navigation sidebar */
  }
}

@media screen and (max-width: 550px) {
  /* Styling in small screen (smartphone) */
  #home-signature{
    display: block;
    width: 120px;
    margin: 10px auto;
    padding: 10px 0;
  }

  .site-navigation {
    border-top: 3px solid #ddf;
  }
  .site-navigation__list {
    margin-top: 10px;
  }
  .site-navigation__list-item {
    font: bold 100%/200% sans-serif;
    text-align: center;
  }
}

@media print {
  .hidden-print { display: none; }
  .site-navigation { display: none; }
  
  #home-signature {
    display: block;
    width: 120px;
    margin: 10px auto;
    padding: 10px 0;
  }
}
